<!DOCTYPE html>
<html lang="en">
<head>
	<title>SalasInfo Back</title>
	<meta charset="UTF-8">
	<meta name="description" content="Salasinfo's Backend">
	<meta name="keywords" content="salasinfo, salas, reservation">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon" />

	<style>
		body {
			margin: 0;
			padding: 0;
			background-color: black;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100vh;
		}

		.intro-container {
			text-align: center;
		}

		.intro-container img {
			max-width: 100%;
			height: auto;
		}
	</style>
</head>
<body>
<div class="intro-container">
	<div>
		<div>
			<img alt="SalasInfo" th:src="@{/images/salasinfo_backend_logo.png}">
		</div>
	</div>
</div>
</body>
</html>
